---
swagger: "2.0"
info:
  description: "Rockset's REST API allows for creating and managing all resources\
    \ in Rockset. Each supported endpoint is documented below.\n\nAll requests must\
    \ be authorized with a Rockset API key, which can be created in the [Rockset console](https://console.rockset.com).\
    \ The API key must be provided as `ApiKey <api_key>` in the `Authorization` request\
    \ header. For example:\n```\nAuthorization: ApiKey aB35kDjg93J5nsf4GjwMeErAVd832F7ad4vhsW1S02kfZiab42sTsfW5Sxt25asT\n\
    ```\n\nAll endpoints are only accessible via https.\n\nBuild something awesome!"
  version: "v1"
  title: "REST API"
host: "api.use1a1.rockset.com"
tags:
- name: "Aliases"
- name: "API Keys"
- name: "Collections"
- name: "Custom Roles"
- name: "Deployment Settings"
- name: "Documents"
- name: "Integrations"
- name: "Organizations"
- name: "Queries"
- name: "Query Lambdas"
- name: "Scheduled Lambdas"
- name: "Shared Lambdas"
- name: "Sources"
- name: "Users"
- name: "Views"
- name: "Virtual Instances"
- name: "Workspaces"
schemes:
- "https"
paths:
  /v1/orgs/self/aliases:
    get:
      tags:
      - "Aliases"
      summary: "List Aliases"
      description: "Retrieve all aliases in an organization"
      operationId: "listAliases"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "aliases retrieved successfully"
          schema:
            $ref: "#/definitions/ListAliasesResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "list"
  /v1/orgs/self/ws/{workspace}/aliases:
    get:
      tags:
      - "Aliases"
      summary: "List Aliases in Workspace"
      description: "Retrieve all aliases in a workspace."
      operationId: "workspaceAliases"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "workspace"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      responses:
        200:
          description: "aliases retrieved successfully"
          schema:
            $ref: "#/definitions/ListAliasesResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    post:
      tags:
      - "Aliases"
      summary: "Create Alias"
      description: "Create new alias in a workspace."
      operationId: "createAlias"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "workspace"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/CreateAliasRequest"
      responses:
        200:
          description: "alias created successfully"
          schema:
            $ref: "#/definitions/CreateAliasResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "create"
  /v1/orgs/self/ws/{workspace}/aliases/{alias}:
    get:
      tags:
      - "Aliases"
      summary: "Retrieve Alias"
      description: "Get details about an alias"
      operationId: "getAlias"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "workspace"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      - in: "path"
        name: "alias"
        description: "name of the alias"
        required: true
        type: "string"
      responses:
        200:
          description: "alias retrieved successfully"
          schema:
            $ref: "#/definitions/GetAliasResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "get"
    post:
      tags:
      - "Aliases"
      summary: "Update Alias"
      description: "Update alias in a workspace."
      operationId: "updateAlias"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "workspace"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      - in: "path"
        name: "alias"
        description: "name of the alias"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/UpdateAliasRequest"
      responses:
        200:
          description: "alias updated successfully"
          schema:
            $ref: "#/definitions/GetAliasResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "update"
    delete:
      tags:
      - "Aliases"
      summary: "Delete Alias"
      description: "Delete an alias."
      operationId: "deleteAlias"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "workspace"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      - in: "path"
        name: "alias"
        description: "name of the alias"
        required: true
        type: "string"
      responses:
        200:
          description: "alias deleted successfully"
          schema:
            $ref: "#/definitions/DeleteAliasResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "delete"
  /v1/orgs/self/users/self/apikeys:
    post:
      tags:
      - "API Keys"
      summary: "Create API Key"
      description: "Create a new API key for the authenticated user."
      operationId: "createApiKey"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/CreateApiKeyRequest"
      responses:
        200:
          description: "API key created successfully"
          schema:
            $ref: "#/definitions/CreateApiKeyResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "create"
  /v1/orgs/self/users/{user}/apikeys:
    get:
      tags:
      - "API Keys"
      summary: "List API Keys"
      description: "List API key metadata for any user in your organization."
      operationId: "listApiKeys"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "user"
        description: "Email of the API key owner. Use `self` to specify the currently\
          \ authenticated user."
        required: true
        type: "string"
        x-example: "admin@me.com"
      responses:
        200:
          description: "API keys retrieved successfully"
          schema:
            $ref: "#/definitions/ListApiKeysResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "list"
  /v1/orgs/self/users/{user}/apikeys/{name}:
    get:
      tags:
      - "API Keys"
      summary: "Retrieve API Key"
      description: "Retrieve a particular API key for any user in your organization."
      operationId: "getApiKey"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "user"
        description: "Email of the API key owner. Use `self` to specify the currently\
          \ authenticated user."
        required: true
        type: "string"
        x-example: "admin@me.com"
      - in: "path"
        name: "name"
        description: "Name of the API key."
        required: true
        type: "string"
        x-example: "my-key"
      - in: "query"
        name: "reveal"
        description: "Reveal full key."
        required: false
        type: "boolean"
        x-example: true
      responses:
        200:
          description: "API key retrieved successfully"
          schema:
            $ref: "#/definitions/GetApiKeyResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "get"
    post:
      tags:
      - "API Keys"
      summary: "Update API Key State"
      description: "Update the state of an API key for any user in your organization."
      operationId: "updateApiKey"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "name"
        description: "Name of the API key."
        required: true
        type: "string"
        x-example: "my-key"
      - in: "path"
        name: "user"
        description: "Email of the API key owner. Use `self` to specify the currently\
          \ authenticated user."
        required: true
        type: "string"
        x-example: "admin@me.com"
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/UpdateApiKeyRequest"
      responses:
        200:
          description: "API key successfully updated"
          schema:
            $ref: "#/definitions/UpdateApiKeyResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "update"
    delete:
      tags:
      - "API Keys"
      summary: "Delete API Key"
      description: "Delete an API key for any user in your organization."
      operationId: "deleteApiKey"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "name"
        description: "Name of the API key."
        required: true
        type: "string"
        x-example: "my-key"
      - in: "path"
        name: "user"
        description: "Email of the API key owner. Use `self` to specify the currently\
          \ authenticated user."
        required: true
        type: "string"
        x-example: "admin@me.com"
      responses:
        200:
          description: "API key deleted successfully"
          schema:
            $ref: "#/definitions/DeleteApiKeyResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "delete"
  /v1/orgs/self/collections:
    get:
      tags:
      - "Collections"
      summary: "List Collections"
      description: "Retrieve all collections in an organization."
      operationId: "listCollections"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "collections retrieved successfully"
          schema:
            $ref: "#/definitions/ListCollectionsResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "list"
  /v1/orgs/self/ws/{workspace}/collections:
    get:
      tags:
      - "Collections"
      summary: "List Collections in Workspace"
      description: "Retrieve all collections in a workspace."
      operationId: "workspaceCollections"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "workspace"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      responses:
        200:
          description: "collections retrieved successfully"
          schema:
            $ref: "#/definitions/ListCollectionsResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    post:
      tags:
      - "Collections"
      summary: "Create Collection"
      description: "Create new collection in a workspace."
      operationId: "createCollection"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "workspace"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/CreateCollectionRequest"
      responses:
        200:
          description: "collection created successfully"
          schema:
            $ref: "#/definitions/CreateCollectionResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/ws/{workspace}/collections/{collection}:
    get:
      tags:
      - "Collections"
      summary: "Retrieve Collection"
      description: "Get details about a collection."
      operationId: "getCollection"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "workspace"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      - in: "path"
        name: "collection"
        description: "name of the collection"
        required: true
        type: "string"
      responses:
        200:
          description: "collection retrieved successfully"
          schema:
            $ref: "#/definitions/GetCollectionResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "get"
    put:
      tags:
      - "Collections"
      summary: "Update Collection"
      description: "Update details about a collection."
      operationId: "updateCollection"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "workspace"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      - in: "path"
        name: "collection"
        description: "name of the collection"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/UpdateCollectionRequest"
      responses:
        200:
          description: "collection updated successfully"
          schema:
            $ref: "#/definitions/GetCollectionResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "update"
    delete:
      tags:
      - "Collections"
      summary: "Delete Collection"
      description: "Delete a collection and all its documents from Rockset."
      operationId: "deleteCollection"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "workspace"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      - in: "path"
        name: "collection"
        description: "name of the collection"
        required: true
        type: "string"
      responses:
        200:
          description: "collection deleted successfully"
          schema:
            $ref: "#/definitions/DeleteCollectionResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "delete"
  /v1/orgs/self/ws/{workspace}/collections/{collection}/offsets/commit:
    post:
      tags:
      - "Collections"
      summary: "Get Collection Commit"
      description: "Determines if the collection includes data at or after the specified\
        \ fence(s) for close read-after-write semantics."
      operationId: "getCollectionOffsets"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "workspace"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      - in: "path"
        name: "collection"
        description: "name of the collection"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/GetCollectionCommitRequest"
      responses:
        200:
          description: "Successfully returned collection commit"
          schema:
            $ref: "#/definitions/GetCollectionCommit"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/roles:
    get:
      tags:
      - "Custom Roles"
      summary: "List Roles"
      description: "List all roles for your organization."
      operationId: "listRoles"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "roles retrieved successfully"
          schema:
            $ref: "#/definitions/ListRolesResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "list"
    post:
      tags:
      - "Custom Roles"
      summary: "Create a Role"
      description: "Create a role for your organization."
      operationId: "createRole"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "JSON Object"
        required: true
        schema:
          $ref: "#/definitions/CreateRoleRequest"
      responses:
        200:
          description: "role created successfully"
          schema:
            $ref: "#/definitions/RoleResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "create"
  /v1/orgs/self/roles/{roleName}:
    get:
      tags:
      - "Custom Roles"
      summary: "Retrieve role"
      description: "Retrieve a role by name for your organization."
      operationId: "getRole"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "roleName"
        required: true
        type: "string"
      responses:
        200:
          description: "role retrieved successfully"
          schema:
            $ref: "#/definitions/RoleResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "get"
    post:
      tags:
      - "Custom Roles"
      summary: "Update a Role"
      description: "Update a role for your organization."
      operationId: "updateRole"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "roleName"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "JSON Object"
        required: true
        schema:
          $ref: "#/definitions/UpdateRoleRequest"
      responses:
        200:
          description: "role updated successfully"
          schema:
            $ref: "#/definitions/RoleResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "update"
    delete:
      tags:
      - "Custom Roles"
      summary: "Delete a Role"
      description: "Delete a role for your organization."
      operationId: "deleteRole"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "roleName"
        required: true
        type: "string"
      responses:
        200:
          description: "role deleted successfully"
          schema:
            $ref: "#/definitions/RoleResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "delete"
  /v1/orgs/self/ws/{workspace}/collections/{collection}/docs:
    post:
      tags:
      - "Documents"
      summary: "Add Documents"
      description: "Add documents to a collection."
      operationId: "addDocuments"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "workspace"
        description: "Name of the workspace."
        required: true
        type: "string"
        default: "commons"
      - in: "path"
        name: "collection"
        description: "Name of the collection."
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/AddDocumentsRequest"
      responses:
        200:
          description: "documents added successfully"
          schema:
            $ref: "#/definitions/AddDocumentsResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        413:
          description: "content too large"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    delete:
      tags:
      - "Documents"
      summary: "Delete Documents"
      description: "Delete documents from a collection."
      operationId: "deleteDocuments"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "workspace"
        description: "Name of the workspace."
        required: true
        type: "string"
        default: "commons"
      - in: "path"
        name: "collection"
        description: "Name of the collection."
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/DeleteDocumentsRequest"
      responses:
        200:
          description: "documents deleted successfully"
          schema:
            $ref: "#/definitions/DeleteDocumentsResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    patch:
      tags:
      - "Documents"
      summary: "Patch Documents"
      description: "Update existing documents in a collection."
      operationId: "patchDocuments"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "workspace"
        description: "Name of the workspace."
        required: true
        type: "string"
        default: "commons"
      - in: "path"
        name: "collection"
        description: "Name of the collection."
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "JSON Patch objects"
        required: true
        schema:
          $ref: "#/definitions/PatchDocumentsRequest"
      responses:
        200:
          description: "Documents patched successfully"
          schema:
            $ref: "#/definitions/PatchDocumentsResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        413:
          description: "content too large"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/integrations:
    get:
      tags:
      - "Integrations"
      summary: "List Integrations"
      description: "List all integrations in an organization."
      operationId: "listIntegrations"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "integrations retrieved successfully"
          schema:
            $ref: "#/definitions/ListIntegrationsResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "list"
    post:
      tags:
      - "Integrations"
      summary: "Create Integration"
      description: "Create a new integration."
      operationId: "createIntegration"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "integration credentials"
        required: true
        schema:
          $ref: "#/definitions/CreateIntegrationRequest"
      responses:
        200:
          description: "integration created successfully"
          schema:
            $ref: "#/definitions/CreateIntegrationResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/integrations/{integration}:
    get:
      tags:
      - "Integrations"
      summary: "Retrieve Integration"
      description: "Retrieve information about a single integration."
      operationId: "getIntegration"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "integration"
        description: "name of the integration"
        required: true
        type: "string"
      responses:
        200:
          description: "integration retrieved successfully"
          schema:
            $ref: "#/definitions/GetIntegrationResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "get"
    put:
      tags:
      - "Integrations"
      summary: "Update Integration"
      description: "Update an existing integration."
      operationId: "updateIntegration"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "integration"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "integration configuration"
        required: true
        schema:
          $ref: "#/definitions/UpdateIntegrationRequest"
      responses:
        200:
          description: "integration updated successfully"
          schema:
            $ref: "#/definitions/UpdateIntegrationResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "update"
    delete:
      tags:
      - "Integrations"
      summary: "Delete Integration"
      description: "Remove an integration."
      operationId: "deleteIntegration"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "integration"
        description: "name of the integration"
        required: true
        type: "string"
      responses:
        200:
          description: "integration deleted successfully"
          schema:
            $ref: "#/definitions/DeleteIntegrationResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "delete"
  /v1/orgs/self:
    get:
      tags:
      - "Organizations"
      summary: "Get Organization"
      description: "Retrieve information about current organization."
      operationId: "getOrganization"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "organization retrieved successfully"
          schema:
            $ref: "#/definitions/OrganizationResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-rename: "get"
  /v1/orgs/self/queries:
    get:
      tags:
      - "Queries"
      summary: "List Queries"
      description: "Lists actively queued and running queries."
      operationId: "listActiveQueries"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successfully fetched queries"
          schema:
            $ref: "#/definitions/ListQueriesResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    post:
      tags:
      - "Queries"
      summary: "Execute SQL Query"
      description: "Make a SQL query to Rockset. If you want to issue the query to\
        \ a specific Virtual Instance use this https://docs.rockset.com/documentation/reference/queryvirtualinstance"
      operationId: "query"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/QueryRequest"
      responses:
        200:
          description: "query executed successfully"
          schema:
            $ref: "#/definitions/QueryResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/queries/validations:
    post:
      tags:
      - "Queries"
      summary: "Validate Query"
      description: "Validate a SQL query with Rockset's parser and planner."
      operationId: "validate"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/QueryRequest"
      responses:
        200:
          description: "query validated successfully"
          schema:
            $ref: "#/definitions/ValidateQueryResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/queries/{queryId}:
    get:
      tags:
      - "Queries"
      summary: "Retrieve Query"
      description: "Returns information about a query."
      operationId: "getQuery"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "queryId"
        required: true
        type: "string"
      responses:
        200:
          description: "Successfully fetched query info"
          schema:
            $ref: "#/definitions/GetQueryResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    delete:
      tags:
      - "Queries"
      summary: "Cancel Query"
      description: "Attempts to cancel an actively-running query."
      operationId: "cancelQuery"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "queryId"
        required: true
        type: "string"
      responses:
        200:
          description: "Successfully canceled query"
          schema:
            $ref: "#/definitions/CancelQueryResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/queries/{queryId}/pages:
    get:
      tags:
      - "Queries"
      summary: "Retrieve Query Results Page"
      description: "Returns a page of query results."
      operationId: "getQueryResults"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "queryId"
        required: true
        type: "string"
      - in: "query"
        name: "cursor"
        description: "Cursor to current page. If unset, will default to the first\
          \ page."
        required: false
        type: "string"
      - in: "query"
        name: "docs"
        description: "Number of documents to fetch."
        required: false
        type: "integer"
        format: "int32"
      - in: "query"
        name: "offset"
        description: "Offset from the cursor of the first document to be returned"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "successfully fetched query results"
          schema:
            $ref: "#/definitions/QueryPaginationResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/lambdas:
    get:
      tags:
      - "Query Lambdas"
      summary: "List Query Lambdas"
      description: "List all Query Lambdas in an organization."
      operationId: "listAllQueryLambdas"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "Query Lambdas listed successfully"
          schema:
            $ref: "#/definitions/ListQueryLambdasResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/ws/{workspace}/lambdas:
    get:
      tags:
      - "Query Lambdas"
      summary: "List Query Lambdas in Workspace"
      description: "List all Query Lambdas under given workspace."
      operationId: "listQueryLambdasInWorkspace"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "workspace"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      responses:
        200:
          description: "Query Lambdas listed successfully"
          schema:
            $ref: "#/definitions/ListQueryLambdasResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    post:
      tags:
      - "Query Lambdas"
      summary: "Create Query Lambda"
      description: "Create a Query Lambda in given workspace."
      operationId: "createQueryLambda"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "workspace"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/CreateQueryLambdaRequest"
      responses:
        200:
          description: "Query Lambda created successfully"
          schema:
            $ref: "#/definitions/QueryLambdaVersionResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/ws/{workspace}/lambdas/{queryLambda}:
    delete:
      tags:
      - "Query Lambdas"
      summary: "Delete Query Lambda"
      description: "Delete a Query Lambda."
      operationId: "deleteQueryLambda"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "workspace"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      - in: "path"
        name: "queryLambda"
        description: "name of the Query Lambda"
        required: true
        type: "string"
      responses:
        200:
          description: "Query Lambda deleted successfully"
          schema:
            $ref: "#/definitions/DeleteQueryLambdaResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/ws/{workspace}/lambdas/{queryLambda}/tags:
    get:
      tags:
      - "Query Lambdas"
      summary: "List Query Lambda Tags"
      description: "List all tags associated with a Query Lambda"
      operationId: "listQueryLambdaTags"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "workspace"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      - in: "path"
        name: "queryLambda"
        description: "name of the Query Lambda"
        required: true
        type: "string"
      responses:
        200:
          description: "tags listed successfully"
          schema:
            $ref: "#/definitions/ListQueryLambdaTagsResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        409:
          description: "conflict"
          schema:
[...]
