---
swagger: "2.0"
info:
  description: "Rockset's REST API allows for creating and managing all resources\
    \ in Rockset. Each supported endpoint is documented below.\n\nAll requests must\
    \ be authorized with a Rockset API key, which can be created in the [Rockset console](https://console.rockset.com).\
    \ The API key must be provided as `ApiKey <api_key>` in the `Authorization` request\
    \ header. For example:\n```\nAuthorization: ApiKey aB35kDjg93J5nsf4GjwMeErAVd832F7ad4vhsW1S02kfZiab42sTsfW5Sxt25asT\n\
    ```\n\nAll endpoints are only accessible via https.\n\nBuild something awesome!"
  version: "v1"
  title: "REST API"
host: "api.rs2.usw2.rockset.com"
tags:
- name: "API Keys"
- name: "Aliases"
- name: "Collections"
- name: "Custom Roles (beta)"
- name: "Documents"
- name: "Integrations"
- name: "Organizations"
- name: "Queries"
- name: "Query Lambdas"
- name: "Users"
- name: "Views"
- name: "Virtual Instances"
- name: "Workspaces"
schemes:
- "https"
paths:
  /v1/orgs/self:
    get:
      tags:
      - "Organizations"
      summary: "Get Organization"
      description: "Retrieve information about current organization."
      operationId: "getOrganization"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "organization retrieved successfully"
          schema:
            $ref: "#/definitions/OrganizationResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/aliases:
    get:
      tags:
      - "Aliases"
      summary: "List Aliases"
      description: "Retrieve all aliases in an organization"
      operationId: "listAliases"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "aliases retrieved successfully"
          schema:
            $ref: "#/definitions/ListAliasesResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/collections:
    get:
      tags:
      - "Collections"
      summary: "List Collections"
      description: "Retrieve all collections in an organization."
      operationId: "listCollections"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "collections retrieved successfully"
          schema:
            $ref: "#/definitions/ListCollectionsResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/integrations:
    get:
      tags:
      - "Integrations"
      summary: "List Integrations"
      description: "List all integrations in an organization."
      operationId: "listIntegrations"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "integrations retrieved successfully"
          schema:
            $ref: "#/definitions/ListIntegrationsResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    post:
      tags:
      - "Integrations"
      summary: "Create Integration"
      description: "Create a new integration."
      operationId: "createIntegration"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "integration credentials"
        required: true
        schema:
          $ref: "#/definitions/CreateIntegrationRequest"
      responses:
        200:
          description: "integration created successfully"
          schema:
            $ref: "#/definitions/CreateIntegrationResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/integrations/{integration}:
    get:
      tags:
      - "Integrations"
      summary: "Retrieve Integration"
      description: "Retrieve information about a single integration."
      operationId: "getIntegration"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "integration"
        in: "path"
        description: "name of the integration"
        required: true
        type: "string"
      responses:
        200:
          description: "integration retrieved successfully"
          schema:
            $ref: "#/definitions/GetIntegrationResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    delete:
      tags:
      - "Integrations"
      summary: "Delete Integration"
      description: "Remove an integration."
      operationId: "deleteIntegration"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "integration"
        in: "path"
        description: "name of the integration"
        required: true
        type: "string"
      responses:
        200:
          description: "integration deleted successfully"
          schema:
            $ref: "#/definitions/DeleteIntegrationResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/lambdas:
    get:
      tags:
      - "Query Lambdas"
      summary: "List Query Lambdas"
      description: "List all Query Lambdas in an organization."
      operationId: "listAllQueryLambdas"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "Query Lambdas listed successfully"
          schema:
            $ref: "#/definitions/ListQueryLambdasResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/queries:
    post:
      tags:
      - "Queries"
      summary: "Query"
      description: "Make a SQL query to Rockset."
      operationId: "query"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/QueryRequest"
      responses:
        200:
          description: "query executed successfully"
          schema:
            $ref: "#/definitions/QueryResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/queries/validations:
    post:
      tags:
      - "Queries"
      summary: "Validate Query"
      description: "Validate a SQL query with Rockset's parser and planner."
      operationId: "validate"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/QueryRequest"
      responses:
        200:
          description: "query validated successfully"
          schema:
            $ref: "#/definitions/ValidateQueryResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/roles:
    get:
      tags:
      - "Custom Roles (beta)"
      summary: "List Roles"
      description: "List all roles for your organization."
      operationId: "listRoles"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "roles retrived successfully"
          schema:
            $ref: "#/definitions/ListRolesResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    post:
      tags:
      - "Custom Roles (beta)"
      summary: "Create a Role"
      description: "Create a role for your organization."
      operationId: "createRole"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "JSON Object"
        required: true
        schema:
          $ref: "#/definitions/CreateRoleRequest"
      responses:
        200:
          description: "role created successfully"
          schema:
            $ref: "#/definitions/RoleResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/roles/{roleName}:
    post:
      tags:
      - "Custom Roles (beta)"
      summary: "Update a Role"
      description: "Update a role for your organization."
      operationId: "updateRole"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "roleName"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "JSON Object"
        required: true
        schema:
          $ref: "#/definitions/UpdateRoleRequest"
      responses:
        200:
          description: "role updated successfully"
          schema:
            $ref: "#/definitions/RoleResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    delete:
      tags:
      - "Custom Roles (beta)"
      summary: "Delete a Role"
      description: "Delete a role for your organization."
      operationId: "deleteRole"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "roleName"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "role deleted successfully"
          schema:
            $ref: "#/definitions/RoleResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/users:
    get:
      tags:
      - "Users"
      summary: "List Users"
      description: "Retrieve all users for an organization."
      operationId: "listUsers"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "users retrieved successfully"
          schema:
            $ref: "#/definitions/ListUsersResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    post:
      tags:
      - "Users"
      summary: "Create User"
      description: "Create a new user for an organization."
      operationId: "createUser"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/CreateUserRequest"
      responses:
        200:
          description: "user created successfully"
          schema:
            $ref: "#/definitions/CreateUserResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/users/self:
    get:
      tags:
      - "Users"
      summary: "Retrieve Current User"
      description: "Retrieve currently authenticated user."
      operationId: "getCurrentUser"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "user retrieved successfully"
          schema:
            $ref: "#/definitions/User"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/users/self/apikeys:
    post:
      tags:
      - "API Keys"
      summary: "Create API Key"
      description: "Create a new API key for the authenticated user."
      operationId: "createApiKey"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/CreateApiKeyRequest"
      responses:
        200:
          description: "API key created successfully"
          schema:
            $ref: "#/definitions/CreateApiKeyResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/users/self/preferences:
    get:
      tags:
      - "Users"
      summary: "Get all notification preferences"
      description: "Get all notification preferences."
      operationId: "listUnsubscribePreferences"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "Notification preferences retrieved successfully"
          schema:
            $ref: "#/definitions/ListUnsubscribePreferencesResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    post:
      tags:
      - "Users"
      summary: "Update notification preferences"
      description: "Update notification preference."
      operationId: "updateUnsubscribePreferences"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "JSON Object"
        required: true
        schema:
          $ref: "#/definitions/UpdateUnsubscribePreferencesRequest"
      responses:
        200:
          description: "Notification preference created successfully"
          schema:
            $ref: "#/definitions/UpdateUnsubscribePreferencesResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/users/{user}:
    get:
      tags:
      - "Users"
      summary: "Retrieve User"
      description: "Retrieve user by email."
      operationId: "getUser"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "user"
        in: "path"
        description: "user email"
        required: true
        type: "string"
      responses:
        200:
          description: "user found"
          schema:
            $ref: "#/definitions/User"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    delete:
      tags:
      - "Users"
      summary: "Delete User"
      description: "Delete a user from an organization."
      operationId: "deleteUser"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "user"
        in: "path"
        description: "user email"
        required: true
        type: "string"
      responses:
        200:
          description: "user deleted successfully"
          schema:
            $ref: "#/definitions/DeleteUserResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/users/{user}/apikeys:
    get:
      tags:
      - "API Keys"
      summary: "List API Keys."
      description: "List API key metadata for any user in your organization."
      operationId: "listApiKeys"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "user"
        in: "path"
        description: "Email of the API key owner. Use `self` to specify the currently\
          \ authenticated user."
        required: true
        type: "string"
        x-example: "admin@me.com"
      responses:
        200:
          description: "API keys retrieved successfully"
          schema:
            $ref: "#/definitions/ListApiKeysResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/users/{user}/apikeys/{name}:
    get:
      tags:
      - "API Keys"
      summary: "Retrieve API Key"
      description: "Retrieve a particular API key for any user in your organization."
      operationId: "getApiKey"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "user"
        in: "path"
        description: "Email of the API key owner. Use `self` to specify the currently\
          \ authenticated user."
        required: true
        type: "string"
        x-example: "admin@me.com"
      - name: "name"
        in: "path"
        description: "Name of the API key."
        required: true
        type: "string"
        x-example: "my-key"
      responses:
        200:
          description: "API key retrieved successfully"
          schema:
            $ref: "#/definitions/GetApiKeyResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    post:
      tags:
      - "API Keys"
      summary: "Update an API key's state"
      description: "Update the state of an API key for any user in your organization."
      operationId: "updateApiKey"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "Name of the API key."
        required: true
        type: "string"
        x-example: "my-key"
      - name: "user"
        in: "path"
        description: "Email of the API key owner. Use `self` to specify the currently\
          \ authenticated user."
        required: true
        type: "string"
        x-example: "admin@me.com"
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/UpdateApiKeyRequest"
      responses:
        200:
          description: "API key successfully updated"
          schema:
            $ref: "#/definitions/UpdateApiKeyResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    delete:
      tags:
      - "API Keys"
      summary: "Delete API Key"
      description: "Delete an API key for any user in your organization."
      operationId: "deleteApiKey"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "Name of the API key."
        required: true
        type: "string"
        x-example: "my-key"
      - name: "user"
        in: "path"
        description: "Email of the API key owner. Use `self` to specify the currently\
          \ authenticated user."
        required: true
        type: "string"
        x-example: "admin@me.com"
      responses:
        200:
          description: "API key deleted successfully"
          schema:
            $ref: "#/definitions/DeleteApiKeyResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/views:
    get:
      tags:
      - "Views"
      summary: "List Views"
      description: "Retrieve all views in an organization"
      operationId: "listViews"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "views retrieved successfully"
          schema:
            $ref: "#/definitions/ListViewsResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/virtualinstances:
    get:
      tags:
      - "Virtual Instances"
      summary: "List Virtual Instances"
      description: "Retrieve all virtual instances in an organization."
      operationId: "listVirtualInstances"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "virtual instances retrieved successfully"
          schema:
            $ref: "#/definitions/ListVirtualInstancesResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/virtualinstances/{virtualInstanceId}:
    get:
      tags:
      - "Virtual Instances"
      summary: "Retrieve Virtual Instance"
      description: "Get details about a virtual instance."
      operationId: "getVirtualInstance"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "virtualInstanceId"
        in: "path"
        description: "uuid of the virtual instance"
        required: true
        type: "string"
      responses:
        200:
          description: "virtual instance retrieved successfully"
          schema:
            $ref: "#/definitions/GetVirtualInstanceResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    post:
      tags:
      - "Virtual Instances"
      summary: "Update Virtual Instance"
      description: "Update the properties of a virtual instance."
      operationId: "setVirtualInstance"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "virtualInstanceId"
        in: "path"
        description: "uuid of the virtual instance"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/UpdateVirtualInstanceRequest"
      responses:
        200:
          description: "virtual instance updated successfully"
          schema:
            $ref: "#/definitions/UpdateVirtualInstanceResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/ws:
    get:
      tags:
      - "Workspaces"
      summary: "List Workspaces"
      description: "List all workspaces in an organization."
      operationId: "listWorkspaces"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "fetch_across_regions"
        in: "query"
        required: false
        type: "boolean"
      responses:
        200:
          description: "workspaces retrieved successfully"
          schema:
            $ref: "#/definitions/ListWorkspacesResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    post:
      tags:
      - "Workspaces"
      summary: "Create Workspace"
      description: "Create a new workspace."
      operationId: "createWorkspace"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "workspace details"
        required: true
        schema:
          $ref: "#/definitions/CreateWorkspaceRequest"
      responses:
        200:
          description: "workspace created successfully"
          schema:
            $ref: "#/definitions/CreateWorkspaceResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/ws/{workspace}:
    get:
      tags:
      - "Workspaces"
      summary: "Retrieve Workspace"
      description: "Get information about a single workspace."
      operationId: "getWorkspace"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "workspace"
        in: "path"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      responses:
        200:
          description: "workspace retrieved successfully"
          schema:
            $ref: "#/definitions/GetWorkspaceResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    delete:
      tags:
      - "Workspaces"
      summary: "Delete Workspace"
      description: "Remove a workspace."
      operationId: "deleteWorkspace"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "workspace"
        in: "path"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      responses:
        200:
          description: "workspace deleted successfully"
          schema:
            $ref: "#/definitions/DeleteWorkspaceResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/ws/{workspace}/aliases:
    get:
      tags:
      - "Aliases"
      summary: "List Aliases in Workspace"
      description: "Retrieve all aliases in a workspace."
      operationId: "workspaceAliases"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "workspace"
        in: "path"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      responses:
        200:
          description: "aliases retrieved successfully"
          schema:
            $ref: "#/definitions/ListAliasesResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    post:
      tags:
      - "Aliases"
      summary: "Create Alias"
      description: "Create new alias in a workspace."
      operationId: "createAlias"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "workspace"
        in: "path"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/CreateAliasRequest"
      responses:
        200:
          description: "alias created successfully"
          schema:
            $ref: "#/definitions/CreateAliasResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/ws/{workspace}/aliases/{alias}:
    get:
      tags:
      - "Aliases"
      summary: "Retrieve Alias"
      description: "Get details about an alias"
      operationId: "getAlias"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "workspace"
        in: "path"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      - name: "alias"
        in: "path"
        description: "name of the alias"
        required: true
        type: "string"
      responses:
        200:
          description: "alias retrieved successfully"
          schema:
            $ref: "#/definitions/GetAliasResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    post:
      tags:
      - "Aliases"
      summary: "Update Alias"
      description: "Update alias in a workspace."
      operationId: "updateAlias"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "workspace"
        in: "path"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      - name: "alias"
        in: "path"
        description: "name of the alias"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/UpdateAliasRequest"
      responses:
        200:
          description: "alias updated successfully"
          schema:
            $ref: "#/definitions/GetAliasResponse"
    delete:
      tags:
      - "Aliases"
      summary: "Delete Alias"
      description: "Delete an alias."
      operationId: "deleteAlias"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "workspace"
        in: "path"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      - name: "alias"
        in: "path"
        description: "name of the alias"
        required: true
        type: "string"
      responses:
        200:
          description: "alias deleted successfully"
          schema:
            $ref: "#/definitions/DeleteAliasResponse"
  /v1/orgs/self/ws/{workspace}/collections:
    get:
      tags:
      - "Collections"
      summary: "List Collections in Workspace"
      description: "Retrieve all collections in a workspace."
      operationId: "workspaceCollections"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "workspace"
        in: "path"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      responses:
        200:
          description: "collections retrieved successfully"
          schema:
            $ref: "#/definitions/ListCollectionsResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    post:
      tags:
      - "Collections"
      summary: "Create Collection"
      description: "Create new collection in a workspace."
      operationId: "createCollection"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "workspace"
        in: "path"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/CreateCollectionRequest"
      responses:
        200:
          description: "collection created successfully"
          schema:
            $ref: "#/definitions/CreateCollectionResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/ws/{workspace}/collections/{collection}:
    get:
      tags:
      - "Collections"
      summary: "Retrieve Collection"
      description: "Get details about a collection."
      operationId: "getCollection"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "workspace"
        in: "path"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      - name: "collection"
        in: "path"
        description: "name of the collection"
        required: true
        type: "string"
      responses:
        200:
          description: "collection retrieved successfully"
          schema:
            $ref: "#/definitions/GetCollectionResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    delete:
      tags:
      - "Collections"
      summary: "Delete Collection"
      description: "Delete a collection and all its documents from Rockset."
      operationId: "deleteCollection"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "workspace"
        in: "path"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      - name: "collection"
        in: "path"
        description: "name of the collection"
        required: true
        type: "string"
      responses:
        200:
          description: "collection deleted successfully"
          schema:
            $ref: "#/definitions/DeleteCollectionResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/ws/{workspace}/collections/{collection}/docs:
    post:
      tags:
      - "Documents"
      summary: "Add Documents"
      description: "Add documents to a collection."
      operationId: "addDocuments"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "workspace"
        in: "path"
        description: "Name of the workspace."
        required: true
        type: "string"
        default: "commons"
      - name: "collection"
        in: "path"
        description: "Name of the collection."
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/AddDocumentsRequest"
      responses:
        200:
          description: "documents added successfully"
          schema:
            $ref: "#/definitions/AddDocumentsResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    delete:
      tags:
      - "Documents"
      summary: "Delete Documents"
      description: "Delete documents from a collection."
      operationId: "deleteDocuments"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "workspace"
        in: "path"
        description: "Name of the workspace."
        required: true
        type: "string"
        default: "commons"
      - name: "collection"
        in: "path"
        description: "Name of the collection."
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/DeleteDocumentsRequest"
      responses:
        200:
          description: "documents deleted successfully"
          schema:
            $ref: "#/definitions/DeleteDocumentsResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    patch:
      tags:
      - "Documents"
      summary: "Patch Documents"
      description: "Update existing documents in a collection."
      operationId: "patchDocuments"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "workspace"
        in: "path"
        description: "Name of the workspace."
        required: true
        type: "string"
        default: "commons"
      - name: "collection"
        in: "path"
        description: "Name of the collection."
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "JSON Patch objects"
        required: true
        schema:
          $ref: "#/definitions/PatchDocumentsRequest"
      responses:
        200:
          description: "Documents patched successfully"
          schema:
            $ref: "#/definitions/PatchDocumentsResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
  /v1/orgs/self/ws/{workspace}/lambdas:
    get:
      tags:
      - "Query Lambdas"
      summary: "List Query Lambdas in Workspace"
      description: "List all Query Lambdas under given workspace."
      operationId: "listQueryLambdasInWorkspace"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "workspace"
        in: "path"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      responses:
        200:
          description: "Query Lambdas listed successfully"
          schema:
            $ref: "#/definitions/ListQueryLambdasResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
          description: "not supported"
          schema:
            $ref: "#/definitions/ErrorModel"
        429:
          description: "resource exceeded"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "internal error"
          schema:
            $ref: "#/definitions/ErrorModel"
        501:
          description: "not implemented"
          schema:
            $ref: "#/definitions/ErrorModel"
        502:
          description: "bad gateway"
          schema:
            $ref: "#/definitions/ErrorModel"
        503:
          description: "not ready"
          schema:
            $ref: "#/definitions/ErrorModel"
    post:
      tags:
      - "Query Lambdas"
      summary: "Create Query Lambda"
      description: "Create a Query Lambda in given workspace."
      operationId: "createQueryLambda"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "workspace"
        in: "path"
        description: "name of the workspace"
        required: true
        type: "string"
        default: "commons"
      - in: "body"
        name: "body"
        description: "JSON object"
        required: true
        schema:
          $ref: "#/definitions/CreateQueryLambdaRequest"
      responses:
        200:
          description: "Query Lambda created successfully"
          schema:
            $ref: "#/definitions/QueryLambdaVersionResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "unauthorized"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "forbidden"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        405:
          description: "not allowed"
          schema:
            $ref: "#/definitions/ErrorModel"
        406:
          description: "not acceptable"
          schema:
            $ref: "#/definitions/ErrorModel"
        408:
          description: "request timeout"
          schema:
            $ref: "#/definitions/ErrorModel"
        415:
[...]
